.idea/*
!.idea/codeStyleSettings.xml
!.idea/encodings.xml
!.idea/php.xml
!.idea/vcs.xml
dev/sass/Gemfile.lock
eshop/config.inc.php
eshop/.htaccess
eshop/log/*.log
!eshop/log/EXCEPTION_LOG.txt
eshop/tmp/*
!eshop/tmp/.gitkeep

